.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  position:sticky ;
  z-index: 1000;
  font-family: Lato;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    
    a {
      text-decoration: none;
      animation: dropdown 0.5s;
    }
  }
}

.line {
  width: 1px;
  background-color: var(--text-color);
  height: 60px;
  animation: dropdownLines 0.5s;
}

nav ul li a {
  color: var(--text-color);
}

@keyframes dropdown {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes dropdownLines {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}


@media (min-width: 1000px) {
  .menu{
    margin-top: 30px;
    .link{
      width: 100%;
      a{
        display: flex;
        width: 100%;
        height: 60px;
        text-align: center;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 25px ;
      }

    }
    .link:hover{
      background-color: #938d8d5e;
    }
  }

  
}