.container{
    display: flex;
    flex-direction: column;
    font-family: Lato;
    align-items: center;
    animation: slide 1s;
    h1{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-transform: uppercase;
      font-weight: 900;
    }
}

.days{
    div{
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 200px;
        height: 30px;
    }
}

@keyframes slide {
    0% {
      transform: translateX(-400px);
      opacity: 0;
    }
    
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
  
  @media (min-width: 1000px) {
    .container{
        margin-top: 100px;
        margin-bottom: 100px;
        h1{
          font-size: 40px;
        }
        p{
          font-size: 25px;
        }
    }
    .days{
      div{
        width: 300px;
      }
    }
  }