.container {
  display: flex;
  flex-direction: column;
  font-family: Lato;
  color: var(--text-color);
  text-align: center;
  align-items: center;
  justify-content: center;
  animation: slide 1s;
  margin-top: 20px;

  h1 {
    margin-bottom: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
  }
}

.icons {
  margin-top: 30px;
  p {
    margin-top: 0px;
  }

  img {
    width: 50px;
  }
}

@keyframes slide {
  0% {
    transform: translateX(400px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@media (min-width: 1000px) {
  .container{
      margin-top: 150px;
      h1{
        font-size: 40px;
      }
      h3{
        font-size: 30px;
      }
      p{
        font-size: 30px;
      }
  }
  
}
